<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Paymentwall.PaymentwallSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Paymentwall.PaymentwallSettings>
            <setting name="AppKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="EvaluationMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProApiKey" serializeAs="String">
                <value />
            </setting>
        </Paymentwall.PaymentwallSettings>
    </applicationSettings>
</configuration>